{% extends 'layout.html.twig' %}

{% block body %}
    <section>
        <h1>It works!</h1>
        <article class="p-5">
            <h2 class="mb-3">This is a test application</h2>
            <p>This application is meant to be a demo for PHP Object Oriented Principles (OOP) and unit tests.</p>
            <p>It uses dependencies only for templating (Twig) and testing (PHPUnit).</p>
            <p>Everything else is just pure PHP.</p>
        </article>
    </section>
{% endblock %}
